<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Main Page of Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/login" method="post">
        <input type="submit" value="Sign In"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>

    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>

    <form action="/app" method="get">
        <input type="submit" value="Go to App"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>

</body>
</html>